:root {
    --branco-fundo: #f0f0f0;
    --banco-quadrado: #fff;
    --vermelho: #f44336;
    --preto: #333;
    --azul-claro: #2196F3;
    --azul-escuro: #0d47a1;
    --scroll-bar-track: #f1f1f1;
    --scroll-bar-thumb: #888;
    --scroll-bar-thumb-hover: #555;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-thumb-hover);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--branco-fundo);
    margin: 0;
    padding: 0;
}

.error-container {
    text-align: center;
    margin: 10% auto;
    max-width: 600px;
    background-color: var(--banco-quadrado);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo-container {
    width: 200px;
    height: auto;
    margin: -5%;
}


h1 {
    font-size: 30px;
    color: var(--vermelho);
}

p {
    font-size: 18px;
    color: var(--preto);
}

a {
    text-decoration: none;
    color: var(--azul-claro);
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: var(--azul-escuro);
}