@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bayon&family=Lalezar&family=Rubik&display=swap');

body {
    background-image: url("/assets/others/background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    color: #FFFFFF;
    margin-left: 20px;
}

.logo-container {
    text-align: right;
    padding: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.information {
    background-color: #822235;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding-bottom: 25px;
    position: static;
    padding: 0%;
}

.information p {
    color: white;
    font-size: 16px;
}

.data {
    padding: 10px 100px 10px 100px;
    text-align: center;
    justify-content: center;
    color: #FAFF00;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    background-color: #671828;
    color: #AAA;
    padding: 10px;
    text-align: center;
    position: static;
}

.data-text {
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    color: #D3CFCF;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data-text-dev {
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 0%;
    color: #D3CFCF;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caracter {
    width: 361px;
    height: 510px;
    margin: 70px;
    margin-top: 0%;
    border-radius: 10px;
}

.main-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    color: #FFF;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-name {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 20px;
    color: #EBE307;
    font-family: 'Lalezar', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
}

h2 {
    font-size: 2.2em;
    color: white;
    font-family: 'Lalezar', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2%;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2%;
}

.course {
    background-color: white;
    border-radius: 10px;
    margin: 35px;
    margin-top: 2%;
    height: 370px;
    width: 240px;
    flex: 0 0 calc(14% - 50px);
}

.course p {
    color: black;
    text-align: center;
}

.course-image {
    width: 230px;
    height: 200px;
    border-radius: 10px;
}

.side-divider-ia,
.side-divider-robot,
.side-divider-py,
.side-divider-jv,
.side-divider-c,
.side-divider-sa,
.side-divider-cs,
.side-divider-rv {
    position: relative;
    bottom: 0;
    width: 230px;
    height: 1px;
    background-color: #868686;
}

.side-divider-ia,
.side-divider-c {
    top: 14%;
}

.side-divider-robot,
.side-divider-py,
.side-divider-jv,
.side-divider-sa {
    top: 4%;
}

.side-divider-cs {
    top: 8%;
}

.side-divider-rv {
    top: 18%;
}

.school-name-ia,
.school-name-robot,
.school-name-py,
.school-name-jv,
.school-name-sa,
.school-name-cs,
.school-name-rv,
.school-name-c {
    position: relative;
}

.school-name-ia,
.school-name-c {
    top: 16.5%;
}

.school-name-robot,
.school-name-py,
.school-name-jv,
.school-name-sa {
    top: 6.5%;
}

.school-name-cs {
    top: 11.5%;
}

.school-name-rv {
    top: 21.5%;
}

.course-image,
.course:hover :not(:hover) {
    opacity: 0.95;
}

.course:hover {
    scale: 1.1;
}

.course-text {
    margin-left: 2%;
    margin-right: 2%;
}

@media (max-width: 1200px) {
    .data {
        padding: 10px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .course {
        width: 100%;
        margin: 10px 0;
    }
}
