@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bayon&family=Lalezar&family=Rubik&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-carvao: #3D3C3C;
    --cinza-prateado: #F5F5F5;
    --preto-principal: #000000;
    --cinza-ardosia: #6B6B6B;
    --cinza-claro: #D3CFCF;
    --amarelo-brilhante: #EBE307;
    --vermelho-vinho: #822235;
    --cinza-prata: #D9D9D9;
    --amarelo-limao: #FAFF00;
    --vermelho-tijolo: #671828;
    --cinza-medio: #AAAAAA;
    --cinza-escuro: #868686;
    --cinza-escuro-claro: #555555;
    --scroll-bar-track: #f1f1f1;
    --scroll-bar-thumb: #888;
    --scroll-bar-thumb-hover: #555;
    --rubik: 'Rubik', sans-serif;
    --alfa-slab-one: 'Alfa Slab One', sans-serif;
    --lalezar: 'Lalezar', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scroll-bar-thumb-hover);
}

::-webkit-scrollbar-thumb {
    background: var(--vermelho-tijolo);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--vermelho-vinho);
}

body {
    background: url("../assets/others/background.png") no-repeat left top;
    background-attachment: scroll;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--branco-principal);
    margin-left: 20px;
}

.logo-container {
    text-align: right;
    padding: 10px 50px 5px 10px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: var(--rubik);
}

.information {
    background-color: var(--vermelho-vinho);
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding-bottom: 25px;
    position: static;
    padding: 0%;
}

.information p {
    color: var(--branco-principal);
    font-size: 15px;
}

.data {
    padding: 10px 100px 10px 100px;
    margin-left: -1%;
    text-align: center;
    justify-content: center;
    color: var(--amarelo-limao);
    font-family: var(--alfa-slab-one);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    background-color: var(--vermelho-tijolo);
    color: var(--cinza-medio);
    padding: 10px;
    font-size: small;
    text-align: center;
    position: static;
}

.data-text {
    margin: 5%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 0%;
    color: var(--cinza-claro);
    text-align: justify;
    font-family: var(--rubik);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data-text-dev {
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
    margin: 0% 0% 5% 0%;
    color: var(--cinza-claro);
    font-family: var(--rubik);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caracter {
    width: 330px;
    height: 480px;
    margin: 1% 4% 1% 4%;
    margin-top: 0%;
    border-radius: 10px;
}

.main-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    color: var(--branco-principal);
    text-align: justify;
    font-family: var(--rubik);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1%;
}

.title-name {
    position: absolute;
    top: 2%;
    left: 0;
    padding: 20px;
    color: var(--amarelo-brilhante);
    font-family: var(--lalezar);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
}

h2 {
    font-size: 2.2em;
    color: var(--branco-principal);
    font-family: var(--lalezar);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2%;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.course {
    background-color: var(--branco-principal);
    border-radius: 10px;
    margin: 35px;
    margin-top: 2%;
    height: 330px;
    width: 220px;
    flex: 0 0 calc(14% - 50px);
}

.course p {
    color: var(--preto-principal);
    text-align: center;
}

.course-image {
    width: 220px;
    height: 180px;
    border-radius: 10px;
}

.course-text {
    font-size: small;
}

.side-divider-ia,
.side-divider-robot,
.side-divider-py,
.side-divider-jv,
.side-divider-c,
.side-divider-sa,
.side-divider-cs,
.side-divider-rv,
.side-divider-nl,
.side-divider-sc {
    position: relative;
    bottom: 0;
    width: 220px;
    height: 1px;
    background-color: var(--cinza-escuro);
}

.side-divider-ia,
.side-divider-c {
    top: 20%;
}

.side-divider-robot,
.side-divider-py,
.side-divider-jv,
.side-divider-sa {
    top: 10%;
}

.side-divider-cs {
    top: 14%;
}

.side-divider-rv {
    top: 19%;
}

.side-divider-nl,
.side-divider-sc {
    top: 10%;
}

.school-name-ia,
.school-name-robot,
.school-name-py,
.school-name-jv,
.school-name-sa,
.school-name-cs,
.school-name-rv,
.school-name-c,
.school-name-nl,
.school-name-sc {
    position: relative;
}

.school-name-ia,
.school-name-c {
    top: 22%;
}

.school-name-robot,
.school-name-py,
.school-name-jv,
.school-name-sa {
    top: 13%;
}

.school-name-cs {
    top: 17%;
}

.school-name-rv {
    top: 21.5%;
}

.school-name-nl,
.school-name-sc {
    top: 13%
}

.course-image,
.course:hover :not(:hover) {
    opacity: 0.95;
}

.course:hover {
    scale: 1.05;
}

.course-text {
    margin-left: 2%;
    margin-right: 2%;
}

.icon-like {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0.3% 0.1% 1% 4%;
    cursor: pointer;
    background-image: url('../assets/icons/white-like.png');
    background-size: cover;
    transition: transform 0.3s ease, background-image 0.3s ease;
}

.icon-like.active {
    background-image: url('../assets/icons/activate-like.png');
}

.icon-like:hover {
    background-image: url('../assets/icons/activate-like.png');
    transform: scale(1.1);
}

.logo-nav {
    top: 50%;
    left: 0;
    transform: translateY(10%);
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 90% 0% 50%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    background-color: var(--preto-principal);
    color: var(--branco-principal);
    opacity: 0.7;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-youtube,
.fa-instagram,
.fa-github {
    background: var(--branco-principal);
    color: var(--preto-principal);
}

@media screen and (max-width: 767px) {
    #footer {
        padding: 5px;
        font-size: small;
    }

    #search-div {
        width: 90%;
    }

    #search-button {
        margin-right: 10px;
    }

    .dropbtn,
    .dropdown, .logo-nav {
        display: none;
    }

    .fa {
        width: 16px;
    }

    .logo-container {
        text-align: center;
    }

    .title-name {
        margin: 25% 0% 0% 0%;
        text-align: center;
    }

    
    .caracter {
        margin: 30% 10% 10% 10%;
        text-align: center;
    }

    .main-conteiner p {
        margin: 5%;
    }
}

@media (max-width: 1200px) {
    .data {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .main-conteiner {
        flex-direction: column;
    }

    .course {
        width: 100%;
        margin: 10px 0;
    }

    .information {
        flex-direction: column;
        /* Altera para uma direção vertical */
        align-items: center;
        /* Centraliza verticalmente os elementos */
        padding: 10px;
        /* Ajusta o espaçamento vertical */
    }
}