@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bayon&family=Lalezar&family=Rubik&display=swap');

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {
    background-image: url("/assets/others/background.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: cover;
}

a {
    text-decoration: none;
}

h1 {
    color: #FFFFFF;
    margin-left: 20px;
}

.logo-container {
    text-align: right;
    padding: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

* {
    font-size: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.information {
    background-color: #822235;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    padding-bottom: 25px;
    position: static;
    padding: 0%;
}

.information p {
    color: white;
    font-size: 16px;
}

.data {
    padding: 10px 90px 10px 90px;
    text-align: center;
    justify-content: center;
    color: #FAFF00;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    background-color: #671828;
    color: #AAA;
    padding: 10px;
    text-align: center;
    position: static;
}

.data-text {
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    color: #D3CFCF;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data-text-dev {
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 0%;
    color: #D3CFCF;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caracter {
    width: 361px;
    height: 552px;
    margin: 70px;
    margin-top: 0%;
    border-radius: 10px;
}

.main-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    color: #FFF;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-name {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 20px;
    color: #EBE307;
    font-family: 'Lalezar', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 999;
}

h2 {
    font-size: 2.2em;
    color: white;
    font-family: 'Lalezar', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 2%;
}

@media screen and (max-width: 768px) {
    .logo-container {
        text-align: center;
        padding: 10px;
    }

    .logo-container img {
        max-width: 80%;
        height: auto;
    }

    .dropbtn {
        padding: 2% 5%;
        font-size: 0.8em;
        width: 100%;
    }

    .dropdown {
        top: 5%;
        right: 5%;
    }
}